body {
    margin-top: 105px;
    background-color: #e8e8e8;
}

.block{  
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 147px;
}

.bg {
    width: 1190px;
    height: 1064px;
    display: block;
    position: relative;
    margin: auto;
}

.bg::after {
    content: "";
    background: url('ellipse_1_copy_4.png') 50% 0 no-repeat;
    opacity: 0.24;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.hdr {
    max-width: 841px;
    margin: 60px auto;
    padding: 21px 59px 0;
}

.rbh1 {
    text-align: center;
    font-size: 36px;
    line-height: 50px;
    color: #273d46;
}

.trave {
    text-align: center;
    font-size: 14px;
    color: #273d46;
    opacity: 0.6;
    font-family: Arial;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.dude {
    outline: 10px solid white;
    box-shadow: 0px 15px 65px 0px rgba(15,16,16,0.15);
}

.foto {
    margin: 106px 37.5px;
    border-color: #273d46;
}

.sometext {
    max-width: 740px;
    margin: auto;
}

.text{

    max-width: 739px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    color: #273d46;
    opacity: 0.8;
    margin-bottom: 60px;
}
.list{
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
}
.list li{
	margin: 0px 0px 10px 0px;
	position: relative;
	padding: 0px 0px 0px 10px;
	left: 20px;
}
.li_1{
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	color: #273d46;
    font-weight: 400;	
}
.li_2{
	font-style: italic;
	color: #80b7b3;
    font-weight: 400;
}
.li_3{
	font-weight: 700;
	color: #273d46;
}
.li_4{
	text-decoration: line-through;
	color: #273d46;
    font-weight: 400;
}
.list li::before{
	content: '';
	background: url('check_icon_37.png') 0 0 no-repeat;
	width: 25px;
	height: 19px;
	position: absolute;
	left: -27px;
}
.knop{
	width: 256px;
	height: 110px;
	position: absolute;
	background: url('rounded_rectangle_1_7.png');
	left: 180px;
	bottom: -550px;
}
.strel{
	width: 21px;
	height: 14px;
	opacity: 0.8;
	background: url('shape_2_9.png');
	position: absolute;
	left: 180px;
	bottom: 54px;
}
.story{
	font-family: Arial;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	position: absolute;
	left: 60px;
	bottom: 40px;

}